*{
	box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.wrapper {
	max-width: 1400px;
	margin: auto;
	margin-top: 140px;
	display: flex;
	flex-wrap: wrap;
}