$color-primary: #F1CDB3;
$color-bg-main: #bdbdbd;
$color-bg-add: rgb(28, 97, 247);
$color-invalid-field: #dc3545;
$color-valid-field:#198754;
$color-text-primary: #757575;
$color-text-secondary: #212529;

